# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.bak
*.ac02.bak
*.ac03.bak

# OS & Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Environment & logs
.env
.venv/
venv/
*.log
.ff_test/
